.container {
  width: auto;
  height: auto;
  min-height: 500px;
  margin: 0, auto;
}

.image {
  display: inline-block;
  background-image: url(https://s3.amazonaws.com/rsstdd-portfolio/bierdstadt.png);
  background-size: 100% 100%;
  float: left;
  height: 100%;
  width: 50%;
}

.text {
  width: 50%;
  float: right;
  background-color: gray;
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.text p {
  padding: 5%;
  position: relative;
  margin: 0;
  width: 95%;
  height: auto;
  margin: auto;
}