.flex-content { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.resize {
  height: auto;
  flex: 1;
  border: solid 1px black;
  margin: 0 3px;
  background-color: darkgrey;
  justify-content: space-between;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.resize:first-of-type {
  margin-left: 0;
}

.resize:last-of-type {
  margin-right: 0;
}
