.categories {
  margin-top: 50px;
  margin-right: 20px;
  text-align: center;
  vertical-align: middle;
}

.news {
  color: goldenrod;
}

.blogs {
  color: darkslategray;
}

.videos {
  color: red;
}
