span {
  margin: 0, auto;
  padding: 20px;
}

.resize {
  margin: 0px 1.5px;
  display: inline-block;
  float: left;
  width: 33.1%;
  padding: 0 10px;
  background: #ccc;
  text-align: center;
}

.resize:first-of-type {
  padding-left: 0;
}

.resize:last-of-type {
  padding-right: 0;
}

.resize div {
  background-color: darkgray;
}

pre {
  color: white;
}